{%load static%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>NUESA Platform</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arial%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A700"/>
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head> 
<body>
<div class="iphone-13-14-1-Ezw">
  <img class="image-18-kyH" src="{% static 'image-18.png' %}" alt="Uploaded Image">
  <p class="nuesa-elizade-chapter-elections-u5V">
  NUESA (ELIZADE CHAPTER)
  <br/>
  Thanks for voting
  </p>
</div>
</body>
</html>