
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100%;
  overflow-y: hidden;
}
.iphone-13-14-1-Ezw {
  box-sizing: border-box;
  padding: 21.2rem 2.1rem 20.7rem 2.2rem;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.iphone-13-14-1-Ezw .image-18-kyH {
  margin-bottom: 1.7rem;
  width: 34.7rem;
  height: 40vh;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-13-14-1-Ezw .nuesa-elizade-chapter-elections-u5V {
  margin-right: 0.1rem;
  max-width: 28.6rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  flex-shrink: 0;
}
